
<title>Print Page Test</title>

</head>
<body bgcolor="#ffffff">

<FORM>

</FORM>

</html>

</tip>


<div id="foo">stuff to print
	<h1>This is the wristband!</h1>	
</div>
<script>

{
	var a = window.open('','','width=300,height=300');
	a.document.open("text/html");
	a.document.write(document.getElementById('foo').innerHTML);
	a.document.close();
	a.print();
	a.close();
}
</script>

