<div id="sticker">
	<div id="header">
		<div class='parent-receipt'>
			PARENT RECEIPT
		</div>
	</div>
	<div id="content">
	
	</div>
	<div id="footer">
		<p><%= attendance.call_number %></p>
	</div>
</div>