<div id="sticker">
	<div id="header">
		<div class='teacher-copy'>
			TEACHER COPY
		</div>
	</div>
	<div id="content">
	
	</div>
	<div id="footer" class="allergies">
		<p><%= attendance.call_number %></p>
	</div>
</div>