<h3>Editing Smart_group_rule</h3>

<%= render 'form' %>

<%= button_icon 'Show', @smart_group_rule, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', smart_group_rules_path, 'list', nil, "small round" %>