<%= four_up_two_up_widget_box("Basic Information") do %>
<% end  %>
  

<div class="form-actions">
  <%= button_icon 'Index', smart_group_rules_path, 'list', nil, 'small round'  %>
  <%= button_icon 'Edit', edit_smart_group_rule_path(@smart_group_rule), 'edit', nil, 'small round' %>
</div>