<fieldset><legend><strong>Group Members</strong></legend>

<% @group.people.sort_by(&:last_name).each do |p| %>
	<div class="<%= cycle("even","odd") %>" style="padding:.3em;">
		<%= p.full_name %><br>
		<label>Email: </label><%= p.best_email_smart rescue nil %><br>
		<label>Phones: </label><%= p.household.phones.collect {|phone| phone.s_formatted}.to_sentence %><br>
		<label>Address: </label><%= p.household.address_one_line rescue nil %>
	</div>
<% end %>
</fieldset>