<fieldset>
	<legend>
		<strong>Groups Served By This Team</strong>
	</legend>

<div id="groups-served">
	<%= render :partial => "groups_served", :locals => {:team => @team} %>
</div>

<div id="add-service-link">
	<%= render :partial => "add_service_link", :locals => {:team => @team} %>
</div>

</fieldset>