<div id="setup_menu" style="width:100%;float:none;clear:both;">
	<ul>
		<li><%= link_to_remote "Jobs", :url => { :controller => 'teams', :action => 'change_partial',
											  :team_id => @team, :new_partial => "jobs_tab" } %></li>
		<li><%= link_to_remote "Group Links", :url => { :controller => 'teams', :action => 'change_partial',
									          :team_id => @team, :new_partial => "group_links_tab" } %></li>
		<li><%= link_to_remote "Do Stuff", :url => { :controller => 'teams', :action => 'change_partial',
										   :team_id => @team, :new_partial => "do_stuff_tab" } %></li>
	</ul>
</div>