<h3>Editing Adjective</h3>

<%= render 'form' %>

<%= button_icon 'Show', @adjective, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', adjectives_path, 'list', nil, "small round" %>