<h3>Editing Checkin_background</h3>

<%= render 'form' %>

<%= button_icon 'Show', @checkin_background, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', checkin_backgrounds_path, 'list', nil, "small round" %>