<% for column in Phone.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @phone.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @phone %> |
<%= link_to 'Back', :action => 'list' %>
