<h3>Click a contact type to subscribe to a feed of all follow-ups for that contact type.</h3>

<fieldset>
	<legend>
		<strong>Follow-Up Feeds By Contact Type</strong>
	</legend>
	<% @contact_types.each do |c| %>
		<div>
			<%= link_to("Subscribe to: #{c.name}", :controller => 'feeds', :action => 'contact_type_feed', :id => c.id, :token => current_user.crypted_password) %>
		</div>
		<% end %>
</fieldset>