<h3>Editing Instance</h3>

<%= render 'form' %>

<%= button_icon 'Show', @instance, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', instances_path, 'list', nil, "small round" %>