<div style="float: right;">
<%= link_to_remote "Next Month ->", :url => { :controller => "assignments", :action => "month", 
        :month => @month == 12 ? 1 : @month + 1 , 
        :year => @month == 12 ? @year + 1 : @year} %>	
</div>

<div>
<%= link_to_remote "<- Previous Month", :url => {:controller => "assignments", :action => "month",
        :month => @month == 1 ? 12 : @month - 1 , 
        :year => @month == 1 ? @year - 1 : @year} %>	
</div>

