<h3>Editing Favorite</h3>

<%= render 'form' %>

<%= button_icon 'Show', @favorite, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', favorites_path, 'list', nil, "small round" %>