<div>
	<label>Note Type: </label><%= @note.note_type.name rescue nil %>
</div>

<div>
	<%= note_text(@note,current_user) %>
</div>

<div>
	<%= link_to_remote 'list all', :url => {:action => 'cancel_new_note', :person_id => @person} %>
</div>