<h5 class="subheader">Actions</h5><hr>

<div class="row">
	<div class="twelve columns">
		<%= link_to 'Move to Household', setup_move_for_person_path(@person), class: 'button round radius small expand'%>
	</div>
	<div class="twelve columns">
		<%= link_to 'Merge Record', setup_merge_for_person_path(@person), class: 'button round radius small expand'%>
	</div>
	<div class="twelve columns">
		<%= link_to 'Export vCard', @person, class: 'button round radius small expand'%>
	</div>
</div>
