<h3>Editing Follow_up</h3>

<%= render 'form' %>

<%= button_icon 'Show', @follow_up, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', follow_ups_path, 'list', nil, "small round" %>