<h3>Editing Tag Group</h3>

<%= render 'form' %>

<%= button_icon 'Show', @tag_group, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', tag_groups_path, 'list', nil, "small round" %>