<h1>Editing Color</h1>

<% form_tag :action => 'update', :id => @my_color do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @my_color %> |
<%= link_to 'Back', :action => 'list' %>
