<h3>Editing My_color</h3>

<%= render 'form' %>

<%= button_icon 'Show', @my_color, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', my_colors_path, 'list', nil, "small round" %>