<% for column in AutoInstanceType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @auto_instance_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @auto_instance_type %> |
<%= link_to 'Back', :action => 'list' %>
