<% for column in Relationship.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @relationship.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @relationship %> |
<%= link_to 'Back', :action => 'list' %>
