<%= error_messages_for 'requirement' %>

<!--[form:requirement]-->
<p><label for="requirement_name">Name</label><br/>
<%= text_field 'requirement', 'name'  %></p>

<p><label for="requirement_description">Description</label><br/>
<%= text_area 'requirement', 'description'  %></p>
<!--[eoform:requirement]-->

