<% for column in Requirement.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @requirement.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @requirement %> |
<%= link_to 'Back', :action => 'list' %>
