body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*.sticker {
	border: red 2px solid;
}
*/

/* Put sticker (or label) dimensions - in pixels - here, as height and width of this div */
#sticker {
	width:190px;
	height:360px;
	position:relative;
	page-break-after:always;
	text-align:center;
}

#container {
   height:100%;
}

#header {
	background-color: #000;
	color: #FFF;
	padding:5px;
	font-weight:bold;
	-webkit-border-top-right-radius: 10px;
   -webkit-border-top-left-radius: 10px;
   -moz-border-radius-topright: 10px;
   -moz-border-radius-topleft: 10px;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

#content {
	height:200px;
}

#full_name {
	font-size:26px;
}

#group, #dob {
	padding-top:5px;
	padding-bottom:5px;
}

#footer {
   position:absolute;
   bottom:0px;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#000;
   color:#FFF;
   font-weight:bold;
   -webkit-border-bottom-right-radius: 10px;
   -webkit-border-bottom-left-radius: 10px;
   -moz-border-radius-bottomright: 10px;
   -moz-border-radius-bottomleft: 10px;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
}

#week {
	font-size:12px;
}

#footer p {
  vertical-align: middle; 
  font-size: 40px;
  position:relative;
  bottom:40px;
}

.name {
	color: white;
}

.first-name {
	font-size: 30px;
}

.teacher-copy {
	font-size: 20px;
}

.allergies {
	background-color: white !important;
	color:#000 !important;
	border:#000 solid 4px;
}

.sticker-rule {
	border: solid #000 2px;
}

#phrase {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#wow {
	font-size:13px;
}

#allergies {
	font-family: "Times New Roman", "Times", serif;
	font-style:italic;
	position:absolute;
	bottom:70px;
	text-align:center;
}