<h3>Editing Envolvement</h3>

<%= render 'form' %>

<%= button_icon 'Show', @envolvement, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', envolvements_path, 'list', nil, "small round" %>