<li class="field">Created By:</li>
<li><%= @group.created_by %></li>
<li class="field">Updated By:</li>
<li><%= @group.updated_by %></li>
<li class="field">Created At:</li>
<li><%= @group.created_at %></li>
<li class="field">Updated At:</li>
<li><%= @group.updated_at %></li>
