
<div>
	<% form_remote_tag :url => {:action=> 'household_search', :group_id => @group.id} do %>
<div>
<span><label for="searchtext"><font size="1"><b>Search For Last Name:</b></font></label></span>
<span><%= text_field_tag :household_name %></span>
<span>
	<%= submit_to_remote 'search_btn', 'Search', :url => {:action => 'household_search', :group_id => @group} %>
</span>
<span></span>
</div>
<% end %>
</div>
