<%= datetime_select('group', 'time_from', {:minute_step => 15, :prefix => 'from', :discard_year => true, :discard_month => true, :discard_day => true, :ignore_date => true}) %> - <%= datetime_select('group', 'time_until', {:minute_step => 15, :prefix => 'until', :discard_year => true, :discard_month => true, :discard_day => true, :ignore_date => true}) %>