<h3 class="subheader">About Groups</h3><hr>
<p>Revolution! provides three types of groups. Below you'll find information about each group type in order to create the type of group that best fits your use-case. You can always have a system administrator convert a group from one type to another.</p>

<dl class="horizontal">
	<dt><a>Small Groups</a></dt>
	<dd>A Small Group can have multiple leaders assigned in various roles. A small group can have an assigned weekday on which it meets and an assigned cadence for its meetings. Small Groups become searchable on the web.</dd>
	<dt><a>CheckIn Groups</a></dt>
	<dd>Checkin Groups are used for self-checkin and attendance tracking. A Checkin Group must have an assigned room. Checkin Groups appear in lists when choosing which meeting to check someone into.</dd>
	<dt><a>Lists</a></dt>
	<dd>A List is simply a way of grouping people together for printing phone lists, sending group emails or texts, etc.</dd>
</dl>