<h3 class="subheader">Editing Group</h3>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to 'Back', @group, class: 'button round small' %>
	<%= link_to 'Index', groups_path, class: "button round small" %>
</div>
