<table class="list">
	<tr>
		<th>Address</th>
		<th>Primary?</th>
		<th>Type</th>
		<th>Comments</th>
	</tr>
	<% @entity.emails.each do |email| %>
	<tr class="<%= cycle "even", "odd" %>">
		<td><%= mail_to(email.email, nil, :title => 'send email') rescue nil %></td>
		<td><%= check_box_tag 'email', email[:primary], email[:primary], :disabled => true %></td>
		<td><%= email.comm_type.name rescue nil %></td>
		<td><%= email.comments %></td>	
	</tr>
	<% end %>
</table>

