<h3>Editing Meeting_time</h3>

<%= render 'form' %>

<%= button_icon 'Show', @meeting_time, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', meeting_times_path, 'list', nil, "small round" %>