<h3>Editing Instance_type</h3>

<%= render 'form' %>

<%= button_icon 'Show', @instance_type, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', instance_types_path, 'list', nil, "small round" %>