<% for column in SmsSetup.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @sms_setup.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @sms_setup %> |
<%= link_to 'Back', :action => 'list' %>
