<table class="twelve responsive">
  <thead>
	  <tr>
		<th>Current Instance</th>
		<th>Advance/Decline Run Date</th>
		<th></th>
	  </tr>
  </thead>
  <tbody>
	  <tr>
	    <td><%= @setting.current_instance %></td>
	    <td><%= @setting.advance_decline_run_date %></td>
		<td></td>
	  </tr>
  </tbody>
</table>
