This is the setup view...

<div id="setup_menu">
	<ul>
		<li><%= link_to_remote "Event Types", :url => { :action => 'show_event_types' } %></li>
		<li><%= link_to_remote "Instance Types", :url => { :action => 'show_instance_types' } %></li>
		<li><%= link_to_remote "Rooms", :url => { :action => 'show_event_types' } %></li>
	</ul>
</div>

<div id="configuration_area">
	This is the initial text...
</div>