<h1>Editing ministry</h1>

<% form_tag :action => 'update', :id => @ministry do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @ministry %>
