<% @found_poeple.each do |p| %>

<div>
	<%= p.full_name %> Age: <%= p.age %>
</div>

	<% end %>
	

	
<% @all_people = Person.find(:all) %>
<% @all_people.each do |p| %>
	<div>
		<%= p.most_recent_attend_date %>
	</div>
	<% end %>