<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang=en>
 <head><meta content="text/html" http-equiv=Content-Type>

  <title>CSS3 module: Multi-column layout</title>


<style>
div.trial {
  column-width: 15em;
  column-gap: 2em;   /* shown in yellow */            
  column-rule: 4px solid green;
  padding: 5px;      /* shown in blue */
}
img { display: none }
</style>
<body>
<div class="trial">
Ab cde fgh i jkl. Mno
pqr stu vw xyz. A bc def g hij
...
Ab cde fgh i jkl. Mno
pqr stu vw xyz. A bc def g hij
...
Ab cde fgh i jkl. Mno
pqr stu vw xyz. A bc def g hij
...
Ab cde fgh i jkl. Mno
pqr stu vw xyz. A bc def g hij
...
Ab cde fgh i jkl. Mno
pqr stu vw xyz. A bc def g hij
...
Ab cde fgh i jkl. Mno
pqr stu vw xyz. A bc def g hij
...
</div>
</body>
</html>