<div id="wrapper" style="display:table;height:400px;#position:relative;overflow:hidden;border:green solid 2px;width:100%">
	


<div id="row-of-tabs">
	<div class="tab">Tab 1 Text</div>
	<div class="tab">Tab 2 Text</div>
</div>

</div>


<table border="0" cellspacing="5" cellpadding="5">
	<tr valign="bottom">
		<td height="300" valign="bottom">
			<div class="tab">Tab 1 Text</div>
			<div class="tab">Tab 2 Text</div>
			<div class="tab">Tab 3 Text</div>
			<div class="tab">Tab 4 Text</div>
			<div class="tab">Tab 5 Text</div>
			<div class="tab">Tab 6 Text</div>
			<div class="tab">Tab 7 Text</div>
			<div class="tab">Tab 8 Text</div>
			<div class="tab">Tab 9 Text</div>
			<div class="tab">Tab 10 Text</div>
			<div class="tab">Tab 11 Text</div>
			<div class="tab">Tab 12 Text</div>
			<div class="tab">Tab 12 Text</div>
		</td>
	</tr>
</table>


