<div id="contact">
	<%= render 'contact' %>
</div>
  
<br><br>
<div id="follow_ups">
	<%= render 'follow_ups' %>
</div>

<div class="twelve columns">
	<%= link_to 'Manage Contacts', manage_contacts_path, class: "button round" %>
</div>