<h3>Editing Permission</h3>

<%= render 'form' %>

<%= button_icon 'Show', @permission, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', permissions_path, 'list', nil, "small round" %>