<%= four_up_two_up_widget_box("Basic Information") do %>
<% end  %>
  

<div class="form-actions">
  <%= button_icon 'Index', enrollments_path, 'list', nil, 'small round'  %>
  <%= button_icon 'Edit', edit_enrollment_path(@enrollment), 'edit', nil, 'small round' %>
</div>