<% unless @person.nil? %>
	<div>
		<%= @person.full_name %><br>
		<%= @person.household.address_block rescue nil %>
	</div>
<% end %>

<div id="contributor-picker">
	<%= render :partial => "chooser_link" %>
</div>