<% if not @person.nil? %>
	<div>
		<%= @person.full_name %><br>
		<%= @person.household.address_block rescue nil %>
	</div>
<% elsif not @organization.nil? %>
	<div>
		<%= @organization.name %><br>
		<%= @organization.address_block rescue nil %>
	</div>
<% end %>

<div id="contributor-picker">
	<%= render :partial => "chooser_link" %>
</div>
