<h3>Editing Contribution</h3>

<%= render 'form' %>

<%= button_icon 'Show', @contribution, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', contributions_path, 'list', nil, "small round" %>