<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Hi, <%= @contact.responsible_user.first_name %>, you a new contact.</h3>
    <p>
      Here's the contact detail:
    </p>
    <p>
      Please take appropriate action to follow-up and update Revolution! with your progress.
    </p>
  </body>
</html>