<% for column in Color.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @color.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @color %> |
<%= link_to 'Back', :action => 'list' %>
