<h3>Editing <%= singular_table_name.capitalize %></h3>

<%%= render 'form' %>

<%%= button_icon 'Show', @<%= singular_table_name %>, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%%= button_icon 'Index', <%= plural_table_name %>_path, 'list', nil, "small round" %>