This is to notify you that a new small group meeting has been recorded.

Meeting For Group: <%= @group_name rescue nil %>
Meeting Date: <%= @meeting_date rescue nil %>
Created By: <%= @created_by rescue nil %>
Number Present: <%= @number_present rescue nil %>
Meeting Notes: <%= @meeting_notes rescue nil %>