<%= error_messages_for 'room' %>

<!--[form:room]-->
<p><label for="room_name">Name</label><br/>
<%= text_field 'room', 'name'  %></p>

<p><label for="room_number">Number</label><br/>
<%= text_field 'room', 'number'  %></p>

<p><label for="room_capacity">Capacity</label><br/>
<%= text_field 'room', 'capacity'  %></p>
<!--[eoform:room]-->

