<% for column in Room.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @room.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @room %> |
<%= link_to 'Back', :action => 'list' %>
