<h3>Editing Leadership</h3>

<%= render 'form' %>

<%= button_icon 'Show', @leadership, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', leaderships_path, 'list', nil, "small round" %>