<h3>Editing Follow-Up Type</h3>

<%= render 'form' %>

<%= button_icon 'Show', @follow_up_type, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', follow_up_types_path, 'list', nil, "small round" %>