<h3>Editing Event Type</h3>

<%= render 'form' %>

<%= button_icon 'Show', @event_type, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', event_types_path, 'list', nil, "small round" %>