<h3>Editing Interjection</h3>

<%= render 'form' %>

<%= button_icon 'Show', @interjection, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', interjections_path, 'list', nil, "small round" %>