<h3>Editing Communication Type</h3>

<%= render 'form' %>

<%= button_icon 'Show', @comm_type, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', comm_types_path, 'list', nil, "small round" %>