<h3>Editing Contact Form</h3>

<%= render 'form' %>

<%= button_icon 'Show', @contact_form, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', contact_forms_path, 'list', nil, "small round" %>