<h3>Editing Organization</h3>

<%= render 'form' %>

<%= button_icon 'Show', @organization, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', organizations_path, 'list', nil, "small round" %>