<h3>Listing Funds</h3>

<table class="twelve responsive">
  <thead>
	  <tr>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
	<% @funds.each do |fund| %>
	  <tr>
	    <td><%= link_to '', edit_fund_path(fund), title: 'edit', class: "general-enclosed foundicon-edit" %>&nbsp;&nbsp;&nbsp;
	    	<%= link_to '', fund, method: :delete, data: { confirm: 'Are you sure?' }, title: 'destroy', class: "general-enclosed foundicon-remove" %>
	   </td>
	  </tr>
	<% end %>
  </tbody>
</table>

<br />

<%= link_to "New Fund", new_fund_path, class: "button radius"  %>
