<% for column in Fund.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @fund.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @fund %> |
<%= link_to 'Back', :action => 'list' %>
