<h3>Editing Associate</h3>

<%= render 'form' %>

<%= button_icon 'Show', @associate, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', associates_path, 'list', nil, "small round" %>