<h3>Editing Smart Group</h3>

<%= render 'form' %>

<%= button_icon 'Show', @smart_group, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', smart_groups_path, 'list', nil, "small round" %>