<%= error_messages_for 'auto_group' %>

<% @groups = Group.all_leaves %>
<% @auto_groups = InstanceType.find(@instance_type).groups %>
<% @available_groups = (@groups - @auto_groups) %>


<%= collection_select('auto_group', 'group_id', @available_groups.sort_by(&:name), 'id', 'name', :prompt => true) %>

<!--[form:auto_group]-->
<!--[eoform:auto_group]-->

