<h3>Editing Attendance</h3>

<%= render 'form' %>

<%= button_icon 'Show', @attendance, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', attendances_path, 'list', nil, "small round" %>