<% @attendances.each do |attendance| %>
	<div id="sticker">
		<div id="header">
			<div id="first_name">
				<div class="first-name name">
					<%= attendance.person.first_name %>
				</div>
			</div>
			<div class="last-name name">
				<%= attendance.person.last_name %>
			</div>
		</div>
		<div id="content">
		
		</div>
		<div id="footer">
			<p><%= attendance.call_number %></p>
		</div>
	</div>
<% end %>