<div class="padded">
	<% if @households %>
		<div class="panel radius" style="text-align:center;">
			<h5 class="subheader"><em>Scroll down if necessary</em></h5>
		</div>
		<%= form_tag checkin_selected_checkin_index_path, class: "custom", remote: true do %>
			<div id="results">
				<%= render :partial => 'search_results' %>
			</div>
			<%= button_tag(:type => 'submit', class: "button radius", data: { no_turbolink: true }) do %>
				<i class="icon-check"></i> Checkin Selected
			<% end %>
			<%= link_to(self_checkin_index_path, class: "button radius success right") do %>
				<i class="icon-search"></i> Search Again
			<% end %>
		<% end %>
	<% end %>
</div>
