<div class="padded">
	<% if @households %>
		<%= form_tag checkin_selected_checkin_index_path, class: "custom", remote: true do %>
			<div id="results">
				<%= render :partial => 'search_results' %>
			</div>
			<% if @households.empty? %>
				<%= link_to "Search Again", self_checkin_index_path, class: "button radius" %>
			<% else %>
				<%= button_tag(:type => 'submit', class: "button radius") do %>
					<i class="icon-check"></i> Checkin Selected
				<% end %>
			<% end %>
		<% end %>
	<% end %>
</div>
