<h3>Editing Location</h3>

<%= render 'form' %>

<%= button_icon 'Show', @location, 'eye-open', nil, "small round" %>&nbsp;&nbsp;
<%= button_icon 'Index', locations_path, 'list', nil, "small round" %>