<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'calendar' %>
  <%= stylesheet_link_tag 'calendar.css' %>

</head>
<body style="background-color:#FFFFFF">
	
	<div id="login_box">
		<%= render :partial => "account/portlet_smart_login" %>
	</div>

<div id="notices">
	<p style="color: green"><%= flash[:notice] %></p>
</div>

<%= yield  %>

</body>
</html>